[Desktop Entry]
Version=1.0
Name=VoiceOutLoud
Name[el]=VoiceOutLoud
GenericName=VoiceOutLoud
GenericName[el]=VoiceOutLoud
Comment=Convert Text To Speech Via Voice Synthesizer
Comment[el]=Μετατροπέας κειμένου σε ομιλία μέσω συνθετητή φωνής
Type=Application
TryExec=VoiceOutLoud
Exec=VoiceOutLoud
Icon=VoiceOutLoud
Categories=AudioVideo;Utility;
#MimeType=text/plain;
